{% extends "base.html" %}

{% block content %}
  <h1>
    TODO List
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
  
  <br>
  
  {% if task_list %}
    {% for task in task_list %}
      <p>
        <strong>{{ task.description }}</strong>
        {% if not task.completed %}
          <span style="color: red;">Not done</span>
          <a href="{% url 'todo:completed-status-change' pk=task.id %}" class="btn btn-success link-to-page">Complete</a>
        {% else %}
          <span style="color: green;">Done</span>
          <a href="{% url 'todo:completed-status-change' pk=task.id %}" class="btn btn-secondary link-to-page">Undo</a>
        {% endif %}
      </p>

      <p>Created: {{ task.created_at|date:"F j, Y, g:i a" }}</p>
      
      <p>
        Tags: 
        {% for tag in task.tags.all %}
          {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        <a href="{% url 'todo:task-update' pk=task.id %}">Update</a>
        <a href="{% url 'todo:task-delete' pk=task.id %}">Delete</a>
      </p>
          
      <hr>
    {% endfor %}
  {% else %}
    <p>There are no tasks in the list</p>
  {% endif %}
{% endblock %}
